.divCounterTasks {
    width: 100%;
    max-width: 736px;
    margin: 4rem auto 1.5rem auto;
    padding: 0 1.25rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media(max-width: 474px) {
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.625rem;
    }

    .createdTasks {
        color: var(--blue-300);
        font-weight: 700;
        display: flex;
        align-items: center;
        gap: 8px;

        span {
            width: 24px;
            height: auto;
            background: var(--gray-400);
            color: var(--gray-200);
            padding: 2px 7px;
            border-radius: 999px;
        }
    }

    .finishedTasks {
        color: var(--purple-300);
        font-weight: 700;
        display: flex;
        align-items: center;
        gap: 8px;

        span {
            background: var(--gray-400);
            color: var(--gray-200);
            padding: 2px 8px;
            border-radius: 999px;
        }
    }
}